.container
  .block.a
    h4 RWD原理與應用-指定比例尺寸% 與max-width/min-width
    img.icon(src="https://hahow.in/assets/images/logo.svg")
  .block.intro
    .sblock
      img
      h5 標題一
    .sblock
      img
      h5 標題二
    .sblock
      img
      h5 標題三
  .block.b
    h4 B
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文
  .block.c
    h4 C
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文
  .block.d
    h4 D
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文
  .block.e
    h4 E
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文
  .block.f
    h4 F
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文
  .block.g
    h4 G
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文